body, a {
	font-family: sans-serif;
	text-decoration: none}

a:hover {
	text-decoration: underline}

p, div {
	padding: 9px}

table {
	border-collapse: collapse;
	margin: 20px}

table, th, td {
	border: 1px solid black;
	padding: 5px;
	text-align: center}

a {
	color: black}

p.z {
	background-color: black;
	color: white}

p.z a {
	margin-left: 15%;
	color: white}

p.y {
	text-align: center}

div input.z {
	margin: 25px}